<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation de l'API Improve-U</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul>
          <li class="item"><a href="#training">Training</a></li>
          <li class="item"><a href="#nutrition">Nutrition</a></li>
          <li class="item"><a href="#sante">Santé</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <h1 class="h1">Documentation de l'API Improve-U</h1>
      <section class="section">
        <h2 id="training" class="h2">Training</h2>
        <div class="container">

          <!-- Route /training -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/training'</h3>
              <a class="btn" href="http://localhost:8080/training">/training</a>
            </div>
            <div class="text">
              Permet de récupérer le plan d'entraînement de l'utilisateur au
              format suivant :
            </div>
            <pre>
<code>
    {
        "id_training": 1,
        "training_goal": "Perte de poids",
        "id_user": 1
    }
</code>
</pre>
          </div>

          <!-- Route /training/:id -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/training/:id'</h3>
              <a class="btn" href="http://localhost:8080/training/1"
                >/training/:id</a
              >
            </div>
            <div class="text">
              Permet de récupérer toutes les séances de l'utilisateur et les
              séances prévues dans ce dernier au format suivant :
            </div>
            <pre>
<code>
    {
        "id_training": 1,
        "training_goal": "Perte de poids",
        "id_user": 1,
        "im_workout": [
            {
                "id_workout": 1,
                "workout_point": 100,
                "workout_name": "Séance push",
                "workout_comment": "texte expliquant ma séance push",
                "id_training": 1
            },
            {
                "id_workout": 2,
                "workout_point": 100,
                "workout_name": "Séance pull",
                "workout_comment": "texte expliquant ma séance pull",
                "id_training": 1
            }
        ]
    }
</code>
</pre>
          </div>

          <!-- Route /training/workout -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/training/workout'</h3>
              <a class="btn" href="http://localhost:8080/training/workout"
                >/training/workout</a
              >
            </div>
            <div class="text">
              Permet de récupérer toutes les séances de l'utilisateur au format
              suivant :
            </div>
            <pre>
<code>
    {
        "id_workout": 1,
        "workout_point": 100,
        "workout_name": "Séance push",
        "workout_comment": "texte expliquant ma séance push",
        "id_training": 1
    },
    {
        "id_workout": 2,
        "workout_point": 100,
        "workout_name": "Séance pull",
        "workout_comment": "texte expliquant ma séance pull",
        "id_training": 1
    }
</code>
</pre>
          </div>

          <!-- Route /training/workout/:id -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/training/workout/:id'</h3>
              <a class="btn" href="http://localhost:8080/training/workout/1"
                >/training/workout/:id</a
              >
            </div>
            <div class="text">
              Permet de récupérer tous les exercices lié à l'id d'une séance au
              format suivant :
            </div>
            <pre>
<code>
    {
        "id_workout": 1,
        "workout_point": 100,
        "workout_name": "Séance push",
        "workout_comment": "texte expliquant ma séance push",
        "id_training": 1,
        "im_exercise": [
            {
                "id_exercise": 1,
                "exercise_name": "Développé couché",
                "exercise_type": "Barre",
                "exercise_rest_time": 120,
                "exercise_reps": 8,
                "exercise_series": 3,
                "exercise_description": "Pousser la barre au dessus de ses pecs",
                "id_workout": 1
            },
            {
                "id_exercise": 2,
                "exercise_name": "Développé militaire",
                "exercise_type": "Haltères",
                "exercise_rest_time": 90,
                "exercise_reps": 10,
                "exercise_series": 3,
                "exercise_description": "Pousser les haltères au dessus de sa tête",
                "id_workout": 1
            }
        ]
    }
</code>
            </pre>
          </div>

        </div>
      </section>

      <section class="section">
        <h2 id="nutrition" class="h2">Nutrition</h2>
        <div class="container">

          <!-- Route /nutrition -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/nutrition'</h3>
              <a class="btn" href="http://localhost:8080/nutrition"
                >/nutrition</a
              >
            </div>
            <div class="text">
              Permet de récupérer les informations de nutrition de l'utilisateur
              au format suivant :
            </div>
            <pre>
<code>
    {
        "id_nutrition": 1,
        "nutrition_goal": 1800,
        "nutrition_goal_calories": 2000,
        "nutrition_goal_carbs": 300,
        "nutrition_goal_prots": 122,
        "nutrition_goal_fats": 70,
        "id_user": 1
    }
</code>
</pre>
          </div>

          <!-- Route /nutrition/:id -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/nutrition/:id'</h3>
              <a class="btn" href="http://localhost:8080/nutrition/1"
                >/nutrition/:id</a
              >
            </div>
            <div class="text">
              Permet de récupérer les informations de nutrition de l'utilisateur
              et les repas de ce dernier au format suivant :
            </div>
            <pre>
<code>
    {
        "id_nutrition": 1,
        "nutrition_goal": 1800,
        "nutrition_goal_calories": 2000,
        "nutrition_goal_carbs": 300,
        "nutrition_goal_prots": 122,
        "nutrition_goal_fats": 70,
        "id_user": 1,
        "im_meal": [
            {
                "id_meal": 1,
                "meal_name": "Grilled Salmon",
                "meal_quantity": 1,
                "meal_calories": 200,
                "meal_carbs": 0,
                "meal_prots": 40,
                "meal_fats": 5,
                "meal_description": "Grilled salmon with vegetables",
                "meal_length": 30,
                "meal_image": "salmon.jpg",
                "meal_difficulty": 2,
                "meal_season": 1,
                "id_nutrition": 1
            },
            {
                "id_meal": 2,
                "meal_name": "Pasta Carbonara",
                "meal_quantity": 1,
                "meal_calories": 500,
                "meal_carbs": 70,
                "meal_prots": 20,
                "meal_fats": 15,
                "meal_description": "Classic pasta carbonara",
                "meal_length": 45,
                "meal_image": "pasta.jpg",
                "meal_difficulty": 3,
                "meal_season": 2,
                "id_nutrition": 1
            }
        ]
    }
</code>
</pre>
          </div>

          <!-- Route /nutrition/meal -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/nutrition/meal'</h3>
              <a class="btn" href="http://localhost:8080/nutrition/meal"
                >/nutrition/meal</a
              >
            </div>
            <div class="text">
              Permet de récupérer les repas de l'utilisateur
              au format suivant :
            </div>
            <pre>
<code>
    [
        {
            "id_meal": 1,
            "meal_name": "Grilled Salmon",
            "meal_quantity": 1,
            "meal_calories": 200,
            "meal_carbs": 0,
            "meal_prots": 40,
            "meal_fats": 5,
            "meal_description": "Grilled salmon with vegetables",
            "meal_length": 30,
            "meal_image": "salmon.jpg",
            "meal_difficulty": 2,
            "meal_season": 1,
            "id_nutrition": 1
        },
        {
            "id_meal": 2,
            "meal_name": "Pasta Carbonara",
            "meal_quantity": 1,
            "meal_calories": 500,
            "meal_carbs": 70,
            "meal_prots": 20,
            "meal_fats": 15,
            "meal_description": "Classic pasta carbonara",
            "meal_length": 45,
            "meal_image": "pasta.jpg",
            "meal_difficulty": 3,
            "meal_season": 2,
            "id_nutrition": 1
        }
    ]
</code>
</pre>
          </div>

          <!-- Route /nutrition/meal/:id -->
          <div class="content">
            <div class="title">
              <h3 class="h3">Routes: '/nutrition/meal/:id'</h3>
              <a class="btn" href="http://localhost:8080/nutrition/meal/1"
                >/nutrition/meal/:id</a
              >
            </div>
            <div class="text">
              Permet de récupérer les aliments présent dans un repas au format suivant :
            </div>
            <pre>
<code>
    {
        "id_meal": 1,
        "meal_name": "Grilled Salmon",
        "meal_quantity": 1,
        "meal_calories": 200,
        "meal_carbs": 0,
        "meal_prots": 40,
        "meal_fats": 5,
        "meal_description": "Grilled salmon with vegetables",
        "meal_length": 30,
        "meal_image": "salmon.jpg",
        "meal_difficulty": 2,
        "meal_season": 1,
        "id_nutrition": 1,
        "im_recipe": [
            {
                "id_recipe": 1,
                "id_meal": 1,
                "id_food": 1,
                "im_food": {
                    "id_food": 1,
                    "food_name": "Chicken Breast",
                    "food_type": "Proteines",
                    "food_calories": 150,
                    "food_carbs": 0,
                    "food_prots": 30,
                    "food_fats": 3
                }
            },
                {
                    "id_recipe": 2,
                    "id_meal": 1,
                    "id_food": 2,
                    "im_food": {
                    "id_food": 2,
                    "food_name": "Rice",
                    "food_type": "Glucides",
                    "food_calories": 200,
                    "food_carbs": 45,
                    "food_prots": 5,
                    "food_fats": 1
                }
            }
        ]
    }
</code>
</pre>
          </div>

          <!-- Route /nutrition/undesirable_food -->

        </div>
      </section>

      <section class="section">
        <h2 id="sante" class="h2">Santé</h2>
      </section>
    </main>
  </body>
</html>
