<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation de l'API Improve-U</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul>
          <li class="item"><a href="#training">Training</a></li>
          <li class="item"><a href="#nutrition">Nutrition</a></li>
          <li class="item"><a href="#sante">Santé</a></li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <h1 class="h1">Documentation de l'API Improve-U</h1>
      <section class="section">
        <h2 id="training" class="h2">Training</h2>
        <div class="container">

          <div class="content">
            <h3 class="h3">Routes: '/training'</h3>
            <div class="text">
              Permet de récupérer le plan d'entraînement de l'utilisateur au
              format suivant :
            </div>
            <pre>
<code>
    {
        "id_training": 1,
        "training_goal": "Perte de poids",
        "id_user": 1
    },
</code>
</pre>
          </div>

          <div class="content">
            <h3 class="h3">Routes: '/training/id'</h3>
            <div class="text">
              Permet de récupérer toutes les séances de l'utilisateur et les
              séances prévues dans ce dernier au format suivant :
            </div>
            <pre>
<code>
    {
        "id_training": 1,
        "training_goal": "Perte de poids",
        "id_user": 1,
        "im_workout": [
            {
                "id_workout": 1,
                "workout_point": 100,
                "workout_name": "Séance push",
                "workout_comment": "texte expliquant ma séance push",
                "id_training": 1
            },
            {
                "id_workout": 2,
                "workout_point": 100,
                "workout_name": "Séance pull",
                "workout_comment": "texte expliquant ma séance pull",
                "id_training": 1
            }
        ]
    }
</code>
</pre>
          </div>

          <div class="content">
            <h3 class="h3">Routes: '/training/workout'</h3>
            <div class="text">
              Permet de récupérer toutes les séances de l'utilisateur au format
              suivant :
            </div>
            <pre>
<code>
    {
        "id_workout": 1,
        "workout_point": 100,
        "workout_name": "Séance push",
        "workout_comment": "texte expliquant ma séance push",
        "id_training": 1
    },
    {
        "id_workout": 2,
        "workout_point": 100,
        "workout_name": "Séance pull",
        "workout_comment": "texte expliquant ma séance pull",
        "id_training": 1
    }
</code>
</pre>
          </div>

          <div class="content">
            <h3 class="h3">Routes: '/training/workout/id'</h3>
            <div class="text">
              Permet de récupérer tous les exercices lié à l'id d'une séance au
              format suivant :
            </div>
            <pre>
<code>
    "id_workout": 1,
    "workout_point": 100,
    "workout_name": "Séance push",
    "workout_comment": "texte expliquant ma séance push",
    "id_training": 1,
    "im_exercise": [
        {
            "id_exercise": 1,
            "exercise_name": "Développé couché",
            "exercise_type": "Barre",
            "exercise_rest_time": 120,
            "exercise_reps": 8,
            "exercise_series": 3,
            "exercise_description": "Pousser la barre au dessus de ses pecs",
            "id_workout": 1
        },
        {
            "id_exercise": 2,
            "exercise_name": "Développé militaire",
            "exercise_type": "Haltères",
            "exercise_rest_time": 90,
            "exercise_reps": 10,
            "exercise_series": 3,
            "exercise_description": "Pousser les haltères au dessus de sa tête",
            "id_workout": 1
        }
    ]
</code>
            </pre>
          </div>

        </div>
      </section>
      <section class="section">
        <h2 id="nutrition" class="h2">Nutrition</h2>
        <div class="container">

            <div class="content">
                <h3 class="h3">Routes: '/nutrition'</h3>
                <div class="text">
                  Permet de récupérer les informations de nutrition de l'utilisateur au
                  format suivant :
                </div>
                <pre>
    <code>
        {
            "id_nutrition": 1,
            "nutrition_goal": 1800,
            "nutrition_goal_calories": 2000,
            "nutrition_goal_carbs": 300,
            "nutrition_goal_prots": 122,
            "nutrition_goal_fats": 70,
            "id_user": 1
        }
    </code>
    </pre>
              </div>

        </div>
      </section>
      <section class="section">
        <h2 id="sante" class="h2">Santé</h2>
      </section>
    </main>
  </body>
</html>
